
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: black;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
}

.cliente-contacto{

    margin: 50px;
    width: 100%;
}
.text-upparcase.text-left{
    color: white;
}
.form-group{
    color: white;
}


/*formulario login*/

.box-login{
   /* margin: 50px auto;*/
    width: 500px;
    color: white;
    border: 1px solid red;
    padding: 50px;
    margin:auto;
    margin-top: 50px;
}
.btn-success{
    margin-top: 10px;
    background-color: red;
    border: red;
}
.box-login a{
    color: red;

}
.box-login a:hover{
  color:green;
}
.btn-success:hover{
    color: white;
    background-color: green;
    border: red;
}
.form-control{
  border: 1px red solid;
  width: 350px;
}